
    body {
        margin: 1%;
        background-image: url(https://previews.123rf.com/images/extezy/extezy1610/extezy161000046/68963631-seamless-islam-pattern-vintage-floral-background-vector-islamic-royal-gold-pattern-oriental-design-a.jpg);


    }
.navbar {
    margin-bottom: 1%;
    border-radius: 6px;
    background-color: rgba(151, 121, 76, 0.877);
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}
.navbar-brand { 
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: rgb(165, 32, 32);
    background-color: white;
    border-radius: 4px;
}

.jumbotron { /*background-image: url(https://ak9.picdn.net/shutterstock/videos/22870939/thumb/1.jpg);*/
    background-color: rgba(218, 184, 143, 0.685);
    margin-bottom: 1%;
    border-radius: 6px ;
    border-color: black solid;


}

h1, h2 {
    color: rgb(165, 32, 32);
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(151, 121, 76, 0.877);
    border-radius: 6px ;
    text-align: center;
    padding: 25px;

}

