

* {
    box-sizing: border-box;
} 
body {
    margin: 1%;
    background-image: url(https://previews.123rf.com/images/extezy/extezy1610/extezy161000046/68963631-seamless-islam-pattern-vintage-floral-background-vector-islamic-royal-gold-pattern-oriental-design-a.jpg);
    font-family: 'Roboto Condensed', sans-serif;
}

/*style for navbar*/
.navbar {
    margin-bottom: 1%;
    border-radius: 6px;
    background-color: rgba(151, 121, 76, 0.877);
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}

.btn:hover {
    background: white;
    color:rgb(165, 32, 32);
}

.btn {
    background: rgb(165, 32, 32);
    color: white;
    border: none;
    padding: 10px;
    margin-top: 2px;
    margin-left: 15px;
    position: relative;
    letter-spacing: 3px;
    text-transform: uppercase;


}
.navbar-brand { 
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: rgb(165, 32, 32);
    background-color: white;
    border-radius: 4px;
}

/*Style for container*/

.jumbotron { 
    background-color: rgba(218, 184, 143, 0.781);
    border-radius: 6px ;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

h2, h3 {
    color: rgb(165, 32, 32);
    font-style: italic;
    text-decoration: underline;
}

ul {
    font-style: italic, solid;
}
.main-container {
    font-family: 'Titillium Web', sans-serif;
    line-height: 2em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    

}
/* Style for footer*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(151, 121, 76, 0.877);
    border-radius: 6px ;
    text-align: center;
    padding: 25px;

}

/* Code for pitcure gallery*/


.container.gallery-container {
    background-color: rgba(218, 184, 143, 0.685);
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
    margin-bottom: 1%;
    border-radius: 6px ;
    border-color: black solid;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: red;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}


/*Start for contact page style*/

/*contact page*/

#contact-form ul {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 40px;
    padding: 40px;
}

#contact-form li {
    margin-bottom: 10px;
    
}

lable, 
input[type=text],
input[type=email],
textarea {
    display:block;
    width: 100%;
}

textarea{
    height:200px;
}

input[type=submit] {
    background: #302718 ;
    border: 0 none;
    color: whitesmoke;
    font-size: 18px;
    padding: 10px 30px;
    margin-left: 75px;
    
    
}

.form-group  h1 { text-align: center;

}